<?xml version="1.0" encoding="utf-8"?>
<config addfieldprefix="KoelmanLabs\Component\JemPresentation\Administrator\Field">
    <fieldset name="basic" label="COM_JEMPRESENTATION_CONFIG_BASIC">
        <field name="default_profile" type="presentationprofile" default="modern"
               label="COM_JEMPRESENTATION_DEFAULT_PROFILE" />
        <field name="default_layout" type="presentationlayout" default="standard"
               label="COM_JEMPRESENTATION_DEFAULT_LAYOUT" />
    </fieldset>

    <fieldset name="permissions"
              label="JCONFIG_PERMISSIONS_LABEL"
              description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               validate="rules"
               filter="rules"
               component="com_jempresentation"
               section="component" />
    </fieldset>
</config>
